body {
    background-color: #f0f0f0; /* Grigio chiaro */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.question-box {
    padding: 20px;
    border-radius: 10px;
    color: #333;
    text-align: center;
    font-size: 1.5em;
    max-width: 400px;
    margin-bottom: 20px;
    transition: background-color 0.3s ease;
}

button {
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
}
